h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
p:last-child {
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: currentColor;
    text-decoration: none;
}
button {
      cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.flatpickr-input:hover {
	border: 1px solid #000;
}

.flatpickr-input:disabled {
    background-color: #fafafa;
    color: #808080;
}

.input-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap:
    8px;
    width: 355px;
    height: 40px;
    margin-bottom: 32px;
}

.input-btn button {
    border-radius: 8px ;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4e75ff;
}

.input-btn button:hover {
    background: #6c8cff;
}

.input-btn button:disabled {
    background: #cfcfcf;
}

.input-btn input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 272px;
    height: 40px;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    border: 1px solid #808080;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    font-family: "Montserrat", sans-serif;
}

.timer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap:
    24px;
    width: 346px;
    height: 72px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 55px;
    height: 72px;
}

.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}
